<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2020年，因为学校课程接触Java。</p>
        <p>2021年，已经正式实习。</p>
        <p>2022年，读完人生的第一本编程书籍《重构》，对代码的艺术产生更浓的兴趣。</p>
        <p>目前打工人，热爱Java，喜欢分享。</p>

        <p><strong>About name</strong></p>

        <p>笔名Taketoday，过好今天，期待明天。</p>

        <h2>Articles</h2>
        <p>几篇文章，方便让你快速了解我</p>

        <ul>
           <li>
            2012-11-20  <strong><a href="http://www.ityouknow.com/life/2016/11/20/six-years-program.html" target="_blank">六年程序生涯
                </a></strong>
          </li>
          <li>
           2013-02-16  <strong><a href="http://www.ityouknow.com/arch/2017/02/16/ten-billion-gold-platform-firefighting-story.html">百亿互金平台救火故事
              </a></strong>
          </li>
        </ul>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>tyc-today</strong>（备注：博客）</li>
        </ul>
        
       <h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。
        </li>
         <li>如果您想和我交流框架、性能优化这种大问题，因为太大我不知道从何说起，比如：上来就问 Spring Boot/Hadoop 并发量支持多少的这类问题，真对不起，本人才疏学浅真的爱莫能助，问题越具体交流越有效。
        </li>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>

       <h2>
         History
       </h2>

       <ul>
            <li>2023年，建站，托管于Github Pages。</li>
        </ul>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
